<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="AntigonisHsmServerEndPoint" transactionFlow="true">
          <security mode="None"/>
        </binding>
        <binding name="WSHttpBinding_IOperationService"/>
        <binding name="Antigonis8583InformationServerEndPoint" transactionFlow="true">
          <security mode="None"/>
        </binding>
        <binding name="WSHttpBinding_IThreePleLayerSecurityServer"/>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/OperationWcfServer" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOperationService" contract="OperationServiceReference.IOperationService" name="WSHttpBinding_IOperationService">
        <identity>
          <userPrincipalName value="devuser@domain"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost/TestAntigonisMultiHsmServer/AntigonisHsmServer.svc" binding="wsHttpBinding" bindingConfiguration="AntigonisHsmServerEndPoint" contract="HsmServerProxy.IHsm" name="AntigonisHsmServerEndPoint"/>
      <endpoint address="http://localhost/TestAntigonisMultiInformationServer/Antigonis8583InformationServer.svc" binding="wsHttpBinding" bindingConfiguration="Antigonis8583InformationServerEndPoint" contract="Antigonis8583InformationServer.I8583Information" name="Antigonis8583InformationServerEndPoint"/>
      <endpoint address="http://localhost/ThreePleLayerSecurityWcfServer" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IThreePleLayerSecurityServer" contract="RouterServiceProxy.IThreePleLayerSecurityServer" name="WSHttpBinding_IThreePleLayerSecurityServer">
        <identity>
          <userPrincipalName value="devuser@domain"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
