<?xml version="1.0"?>
<configuration>



  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <!--<add key="ServerPort" value="26211"/>-->
    <!--<add key="ServerIP" value="10.28.5.25"/>
    <add key="MessageHeader" value="WEB008"/> value="ISO5V0"/>-->
    <add key="ServerPort" value="26103"/>
    <!--<add key="ServerPort" value="26200"/>-->
    <add key="ServerIP" value="127.0.0.1"/>
    <!--<add key="MessageType" value="IsoInternal"/>-->
    <add key="MessageType" value="Operation"/>
    <add key="ApplicationComponentType" value="RouterService"/>
    
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
