<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="Antigonis8583OperationServerEndPointOleTx">
          <transactionFlow />
          <textMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="Antigonis8583OperationServerEndPoint" transactionFlow="true">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://devangns03.domain/TestAntigonisServer/Antigonis8583OperationServer.svc"
          binding="wsHttpBinding" bindingConfiguration="Antigonis8583OperationServerEndPoint"
          contract="Antigonis8583OperationServer.I8583Operation" name="Antigonis8583OperationServerEndPoint" />
      <endpoint address="http://devangns03.domain/TestAntigonisServer/Antigonis8583OperationServer.svc/OleTx"
          binding="customBinding" bindingConfiguration="Antigonis8583OperationServerEndPointOleTx"
          contract="Antigonis8583OperationServer.I8583Operation" name="Antigonis8583OperationServerEndPointOleTx" />
    </client>
  </system.serviceModel>
</configuration>