<?xml version="1.0"?>

<log4net>


  <appender name="HarvesterAppender"
            type="Harvester.Integration.Log4Net.HarvesterAppender,Harvester.Integration.Log4Net, Version=2.0.0.0, Culture=neutral, PublicKeyToken=2335e074c59acad6">
    <binding value="\\.\pipe\Harvester" />
    <bufferType value="NamedPipeBuffer" />
    <mutex value="HarvesterMutex" />
  </appender>


  <appender name="OutputDebugStringAppender"
            type="log4net.Appender.OutputDebugStringAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>


  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level (%logger:%line) - %message%newline" />
    </layout>
  </appender>


  <appender name="RollingLogFileAppender"
           type="log4net.Appender.RollingFileAppender">
    <file value="D:\Logs\Operation\Corp.Antigonis.RouterServiceService.Rolling.Operation.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value=".yyyyMMddHH.'log'" />
    <maxSizeRollBackups value="500" />
    <maximumFileSize value="1000MB" />
    <countDirection value="1"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date|%5thread|%-5level|%logger|%message%newline" />
    </layout>
  </appender>

  <appender name="ConsoleAppender"
            type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date - %message%newline" />
    </layout>

    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="Trx" />
      <acceptOnMatch value="false" />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="Corp.RouterService.RouterService" />
      <acceptOnMatch value="true" />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="Corp.RouterService.Memory.CircularBuffer" />
      <acceptOnMatch value="true" />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="Corp.RouterService.Adapter.MemoryAdapter.MemoryAdapter" />
      <acceptOnMatch value="true" />
    </filter>
  </appender>

  <!--
  <appender name="FileAppender"
            type="log4net.Appender.FileAppender">
    <file value="D:\Logs\Corp.Antigonis.RouterServiceService.Operation.txt"/>
    <appendToFile value="true"/>
    <encoding value="utf-8"/>

  <layout type="log4net.Layout.PatternLayout">
    <conversionPattern value="%date|%5thread|%-5level|%logger|%message%newline"/>
  </layout>

  <filter type="log4net.Filter.LoggerMatchFilter">
    <loggerToMatch value="Trx" />
    <acceptOnMatch value="true" />
  </filter>

  <filter type="log4net.Filter.LoggerMatchFilter">
    <loggerToMatch value="Corp.RouterService.RouterService" />
    <acceptOnMatch value="true" />
  </filter>

  <filter type="log4net.Filter.LoggerMatchFilter">
    <loggerToMatch value="Corp.RouterService.Memory.CircularBuffer" />
    <acceptOnMatch value="true" />
  </filter>

  <filter type="log4net.Filter.LoggerMatchFilter">
    <loggerToMatch value="Corp.RouterService.Adapter.MemoryAdapter.MemoryAdapter" />
    <acceptOnMatch value="true" />
  </filter>

  <filter type="log4net.Filter.LevelRangeFilter">
    <acceptOnMatch value="true"/>
    <levelMin value="DEBUG"/>
    <levelMax value="FATAL"/>
  </filter>
    
  </appender>
  -->


  <appender name="AdoNetAppender"
            type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="Data Source=10.28.5.26;Initial Catalog=HsbcServer;Integrated Security=SSPI;persist security info=True;" />
    <commandText value="INSERT INTO LogRouterService ([Thread], [Level], [Logger], [Message], [Exception], [Login], [Details]) VALUES (@thread, @log_level, @logger, @message, @exception, @login, @details)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="60000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="60000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@login" />
      <dbType value="String" />
      <size value="40" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{Login}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@details" />
      <dbType value="String" />
      <size value="60000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{Details}" />
      </layout>
    </parameter>
  </appender>


  <!-- Set Trx logger level to ERROR -->
  <logger name="Trx">
    <level value="ERROR" />
    <appender-ref ref="ConsoleAppender" />
  </logger>


  <!-- Set root logger level to DEBUG -->
  <root>
    <level value="ALL" />
    <appender-ref ref="ConsoleAppender" />    



    <!--        
    <appender-ref ref="HarvesterAppender" />
    <appender-ref ref="TraceAppender" />
    <appender-ref ref="RollingLogFileAppender" />
    <appender-ref ref="AdoNetAppender" />
    <appender-ref ref="FileAppender"/>
    <appender-ref ref="OutputDebugStringAppender" />
    <appender-ref ref="ConsoleAppender" />
    -->
  </root>


</log4net>
