<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IInformationServer" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/InformationWcfServer" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IInformationServer" contract="InformationServiceReference.IInformationServer"
                name="WSHttpBinding_IInformationServer">
                <identity>
                    <servicePrincipalName value="host/devangns03.domain" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>