<?xml version="1.0"?>
<configuration>
  <configSections>
    <section
      name="serverConfiguration"
      type="Corp.MessageRouter.Configuration.ServerConfigurationSection, Corp.MessageRouter"/>
  </configSections>

  <appSettings>
    <add key="InstallServiceName" value="AndigonisB24MessageRouterService" />
    <add key="InstallDisplayName" value="Corp Andigonis B24 MessageRouter" />
    <add key="InstallDescription" value="Corp Andigonis B24 Tcp Server Service" />
    <add key="ApplicationComponentType" value="MessageRouter"/>
  </appSettings>


  <serverConfiguration>
    <tcpServers>
      <tcpServer poolSize="50" connectionsBacklog="50" usePerformanceCounters="false" isEnabled="true">
        <localEndpoint IP="127.0.0.1" Port="26301"/>
        <outgoingTrafficSettings networkBufferSize="65536" >
          <tcpMessagesSettings>
            <tcpMessageSettings isEnabled="true"
              messageType ="Operation" headerTemplate="HHHLLLLLL" headerPrefix="" header="WEB" headerSuffix="" messageSuffix="" lengthFormat="Text" lengthType="HeaderPrefix,Header,HeaderWildcards,HeaderCopyBytes,HeaderSuffix,Length,Body,MessageSuffix"/>
            <tcpMessageSettings isEnabled="true"
                 messageType ="IsoInternal" headerTemplate="LLHHHCC5CCCCCC" headerPrefix="" header="ISO" headerSuffix="" messageSuffix="0x03" lengthFormat="Binary" lengthType="HeaderPrefix,Header,HeaderWildcards,HeaderCopyBytes,HeaderSuffix,Length,Body,MessageSuffix"/>
            <tcpMessageSettings isEnabled="true"
             messageType ="Iso8583" headerTemplate="HHHHHHLLLL" headerPrefix="" header="ISO5V0" headerSuffix="" messageSuffix="" lengthFormat="Text" lengthType="Body"/>
          </tcpMessagesSettings>
        </outgoingTrafficSettings>
        <incomingTrafficSettings networkBufferSize="65536" >
          <tcpMessagesSettings>
            <tcpMessageSettings isEnabled="true"
              messageType ="Operation" headerTemplate="HHHLLLLLL" headerPrefix="" header="WEB" headerSuffix="" messageSuffix="" lengthFormat="Text" lengthType="HeaderPrefix,Header,HeaderWildcards,HeaderCopyBytes,HeaderSuffix,Length,Body,MessageSuffix"/>
            <tcpMessageSettings isEnabled="true"
            messageType ="Operation" headerTemplate="HHHHCCLLLLLL" headerPrefix="" header="WEB2" headerSuffix="" messageSuffix="" lengthFormat="Text" lengthType="HeaderPrefix,Header,HeaderWildcards,HeaderCopyBytes,HeaderSuffix,Length,Body,MessageSuffix"/>
            <tcpMessageSettings isEnabled="true"
            messageType ="IsoInternal" headerTemplate="LLHHHCC*CCCCCC" headerPrefix="" header="ISO" headerSuffix="" messageSuffix="0x03" lengthFormat="Binary" lengthType="HeaderPrefix,Header,HeaderWildcards,HeaderCopyBytes,HeaderSuffix,Length,Body,MessageSuffix"/>
            <tcpMessageSettings isEnabled="true"
             messageType ="Iso8583" headerTemplate="HHHHHHLLLL" headerPrefix="" header="ISO5V0" headerSuffix="" messageSuffix="" lengthFormat="Text" lengthType="Body"/>
          </tcpMessagesSettings>
        </incomingTrafficSettings>
      </tcpServer>
      <tcpServer poolSize="50" connectionsBacklog="50"  usePerformanceCounters="false" isEnabled="true">
        <localEndpoint IP="127.0.0.1" Port="26302"/>
        <outgoingTrafficSettings networkBufferSize="65536" >
          <tcpMessagesSettings>
            <tcpMessageSettings isEnabled="true"
              messageType ="Operation" headerTemplate="HHHCCCLLLLLL" headerPrefix="" header="WEB" headerSuffix="" messageSuffix="" lengthFormat="Text" lengthType="HeaderPrefix,Header,HeaderWildcards,HeaderCopyBytes,HeaderSuffix,Length,Body,MessageSuffix"/>
            <tcpMessageSettings isEnabled="true"
             messageType ="IsoInternal" headerTemplate="LLHHHCC5CCCCCC" headerPrefix="" header="ISO" headerSuffix="" messageSuffix="0x03" lengthFormat="Binary" lengthType="HeaderPrefix,Header,HeaderWildcards,HeaderCopyBytes,HeaderSuffix,Length,Body,MessageSuffix"/>
            <tcpMessageSettings isEnabled="true"
             messageType ="Iso8583" headerTemplate="HHHHHHLLLL" headerPrefix="" header="ISO5V0" headerSuffix="" messageSuffix="" lengthFormat="Text" lengthType="Body"/>
          </tcpMessagesSettings>
        </outgoingTrafficSettings>
        <incomingTrafficSettings networkBufferSize="65536" >
          <tcpMessagesSettings>
            <tcpMessageSettings isEnabled="true"
              messageType ="Operation" headerTemplate="HHHCCCLLLLLL" headerPrefix="" header="WEB" headerSuffix="" messageSuffix="" lengthFormat="Text" lengthType="HeaderPrefix,Header,HeaderWildcards,HeaderCopyBytes,HeaderSuffix,Length,Body,MessageSuffix"/>
            <tcpMessageSettings isEnabled="true"
            messageType ="Operation" headerTemplate="HHHHCCLLLLLL" headerPrefix="" header="WEB2" headerSuffix="" messageSuffix="" lengthFormat="Text" lengthType="HeaderPrefix,Header,HeaderWildcards,HeaderCopyBytes,HeaderSuffix,Length,Body,MessageSuffix"/>
            <tcpMessageSettings isEnabled="true"
            messageType ="IsoInternal" headerTemplate="LLHHHCC*CCCCCC" headerPrefix="" header="ISO" headerSuffix="" messageSuffix="0x03" lengthFormat="Binary" lengthType="HeaderPrefix,Header,HeaderWildcards,HeaderCopyBytes,HeaderSuffix,Length,Body,MessageSuffix"/>
            <tcpMessageSettings isEnabled="true"
             messageType ="Iso8583" headerTemplate="HHHHHHLLLL" headerPrefix="" header="ISO5V0" headerSuffix="" messageSuffix="" lengthFormat="Text" lengthType="Body"/>
          </tcpMessagesSettings>
        </incomingTrafficSettings>
      </tcpServer>
    </tcpServers>
    <sqlServers>
      <sqlServer
        name="OperationQueue"
        isEnabled="true"
        connectionString="OperationCommunicationServerConnection"
        pollingPeriodInMilliseconds="10"
        messageType="Operation"
        guid="A58BD110-639D-4913-B15F-6E21213DAB5A">
      </sqlServer>
    </sqlServers>

    <clients>
      <client type="sql">
        <sqlClient
          name="AndigonisIsoInternalQueue"
          usePerformanceCounters="false"
          isEnabled="true"
          connectionString="SmsLiveFeedConnection"
          pollingPeriodInMilliseconds="10"
          messageType="IsoInternal"
          guid="A534D110-639D-4913-B15F-6E21213DAB5A">
        </sqlClient>
      </client>

      <!--this redirects 8583 ISO messages to remote host server at 26101-->
      <client type="tcp">
        <tcpClient poolSize="50" connectionsBacklog="50"  usePerformanceCounters="false" isEnabled="true">
          <localEndpoint IP="127.0.0.1" Port="26100"/>
          <remoteEndpoint IP="127.0.0.1" Port="26101"/>
          <outgoingTrafficSettings networkBufferSize="65536" >
            <tcpMessagesSettings>
              <tcpMessageSettings isEnabled="true"
                messageType ="IsoInternal" headerTemplate="HHHCCCCCCCCC" headerPrefix="" header="ISO" headerSuffix="" messageSuffix="0x03" lengthFormat="Binary" lengthType="HeaderPrefix,Header,HeaderWildcards,HeaderCopyBytes,HeaderSuffix,Length,Body,MessageSuffix"/>
              <tcpMessageSettings isEnabled="true"
                messageType ="Operation" headerTemplate="HHHCCCLLLLLL" headerPrefix="" header="WEB" headerSuffix="" messageSuffix="" lengthFormat="Text" lengthType="HeaderPrefix,Header,HeaderWildcards,HeaderCopyBytes,HeaderSuffix,Length,Body,MessageSuffix"/>
              <tcpMessageSettings isEnabled="true"
             messageType ="Iso8583" headerTemplate="HHHHHHHHHHHHHHHHLLLL" headerPrefix="" header="TESTISO5V0HEADER" headerSuffix="" messageSuffix="" lengthFormat="Text" lengthType="Body"/>
            </tcpMessagesSettings>
          </outgoingTrafficSettings>
          <incomingTrafficSettings networkBufferSize="65536" >
            <tcpMessagesSettings>
              <tcpMessageSettings isEnabled="true"
                messageType ="IsoInternal" headerTemplate="HHHHHCCCCCCCCC" headerPrefix="" header="DUMMY" headerSuffix="" messageSuffix="0x03" lengthFormat="Binary" lengthType="HeaderPrefix,Header,HeaderWildcards,HeaderCopyBytes,HeaderSuffix,Length,Body,MessageSuffix"/>
              <tcpMessageSettings isEnabled="true"
                messageType ="Operation" headerTemplate="HHHCCCLLLLLL" headerPrefix="" header="WEB" headerSuffix="" messageSuffix="" lengthFormat="Text" lengthType="HeaderPrefix,Header,HeaderWildcards,HeaderCopyBytes,HeaderSuffix,Length,Body,MessageSuffix"/>
              <tcpMessageSettings isEnabled="true"
            messageType ="Iso8583" headerTemplate="HHHHHHHHHHHHHHHHLLLL" headerPrefix="" header="TESTISO5V0HEADER" headerSuffix="" messageSuffix="" lengthFormat="Text" lengthType="Body"/>
            </tcpMessagesSettings>
          </incomingTrafficSettings>
        </tcpClient>
      </client>
      <client type="tcp">
        <tcpClient poolSize="50" connectionsBacklog="50"  usePerformanceCounters="false" isEnabled="true">
          <localEndpoint IP="127.0.0.1" Port="26099"/>
          <remoteEndpoint IP="127.0.0.1" Port="26102"/>
          <outgoingTrafficSettings networkBufferSize="65536" >
            <tcpMessagesSettings>
              <tcpMessageSettings isEnabled="true"
                messageType ="IsoInternal" headerTemplate="HHHCC4CCCCCC" headerPrefix="" header="ISO" headerSuffix="" messageSuffix="0x03" lengthFormat="Binary" lengthType="HeaderPrefix,Header,HeaderWildcards,HeaderCopyBytes,HeaderSuffix,Length,Body,MessageSuffix"/>
              <tcpMessageSettings isEnabled="true"
                messageType ="Operation" headerTemplate="HHHCCCLLLLLL" headerPrefix="" header="WEB" headerSuffix="" messageSuffix="" lengthFormat="Text" lengthType="HeaderPrefix,Header,HeaderWildcards,HeaderCopyBytes,HeaderSuffix,Length,Body,MessageSuffix"/>
              <tcpMessageSettings isEnabled="true"
             messageType ="Iso8583" headerTemplate="HHHHHHHHHHHHHHHHLLLL" headerPrefix="" header="TESTISO5V0HEADER" headerSuffix="" messageSuffix="" lengthFormat="Text" lengthType="Body"/>
            </tcpMessagesSettings>
          </outgoingTrafficSettings>
          <incomingTrafficSettings networkBufferSize="65536" >
            <tcpMessagesSettings>
              <tcpMessageSettings isEnabled="true"
                messageType ="IsoInternal" headerTemplate="HHHHHCC5CCCCCC" headerPrefix="" header="DUMMY" headerSuffix="" messageSuffix="0x03" lengthFormat="Binary" lengthType="HeaderPrefix,Header,HeaderWildcards,HeaderCopyBytes,HeaderSuffix,Length,Body,MessageSuffix"/>
              <tcpMessageSettings isEnabled="true"
                messageType ="Operation" headerTemplate="HHHCCCLLLLLL" headerPrefix="" header="WEB" headerSuffix="" messageSuffix="" lengthFormat="Text" lengthType="HeaderPrefix,Header,HeaderWildcards,HeaderCopyBytes,HeaderSuffix,Length,Body,MessageSuffix"/>
              <tcpMessageSettings isEnabled="true"
            messageType ="Iso8583" headerTemplate="HHHHHHHHHHHHHHHHLLLL" headerPrefix="" header="TESTISO5V0HEADER" headerSuffix="" messageSuffix="" lengthFormat="Text" lengthType="Body"/>
            </tcpMessagesSettings>
          </incomingTrafficSettings>
        </tcpClient>
      </client>
      <client type="tcp">
        <tcpClient poolSize="50" connectionsBacklog="50"  usePerformanceCounters="false" isEnabled="true">
          <localEndpoint IP="127.0.0.1" Port="26098"/>
          <remoteEndpoint IP="127.0.0.1" Port="26103"/>
          <outgoingTrafficSettings networkBufferSize="65536" >
            <tcpMessagesSettings>
              <tcpMessageSettings isEnabled="true"
                messageType ="IsoInternal" headerTemplate="HHHCC4CCCCCC" headerPrefix="" header="ISO" headerSuffix="" messageSuffix="0x03" lengthFormat="Binary" lengthType="HeaderPrefix,Header,HeaderWildcards,HeaderCopyBytes,HeaderSuffix,Length,Body,MessageSuffix"/>
              <tcpMessageSettings isEnabled="true"
                messageType ="Operation" headerTemplate="HHHLLLLLL" headerPrefix="" header="WEB" headerSuffix="" messageSuffix="" lengthFormat="Text" lengthType="HeaderPrefix,Header,HeaderWildcards,HeaderCopyBytes,HeaderSuffix,Length,Body,MessageSuffix"/>
              <tcpMessageSettings isEnabled="true"
             messageType ="Iso8583" headerTemplate="HHHHHHHHHHHHHHHHLLLL" headerPrefix="" header="TESTISO5V0HEADER" headerSuffix="" messageSuffix="" lengthFormat="Text" lengthType="Body"/>
            </tcpMessagesSettings>
          </outgoingTrafficSettings>
          <incomingTrafficSettings networkBufferSize="65536" >
            <tcpMessagesSettings>
              <tcpMessageSettings isEnabled="true"
                messageType ="IsoInternal" headerTemplate="HHHHHCC5CCCCCC" headerPrefix="" header="DUMMY" headerSuffix="" messageSuffix="0x03" lengthFormat="Binary" lengthType="HeaderPrefix,Header,HeaderWildcards,HeaderCopyBytes,HeaderSuffix,Length,Body,MessageSuffix"/>
              <tcpMessageSettings isEnabled="true"
                messageType ="Operation" headerTemplate="HHHLLLLLL" headerPrefix="" header="DDD" headerSuffix="" messageSuffix="" lengthFormat="Text" lengthType="HeaderPrefix,Header,HeaderWildcards,HeaderCopyBytes,HeaderSuffix,Length,Body,MessageSuffix"/>
              <tcpMessageSettings isEnabled="true"
            messageType ="Iso8583" headerTemplate="HHHHHHHHHHHHHHHHLLLL" headerPrefix="" header="TESTISO5V0HEADER" headerSuffix="" messageSuffix="" lengthFormat="Text" lengthType="Body"/>
            </tcpMessagesSettings>
          </incomingTrafficSettings>
        </tcpClient>
      </client>
      <client type="mem">
        <memClient name="diagnosticAndErrorHandler"  usePerformanceCounters="false" isEnabled="true">
        </memClient>
      </client>
    </clients>

    <!-- this is order sensitive-->
    <!--always set the originLocalAddress when redirecting to a non memoy adapter: Loop danger!!!-->
    <!--always add a memory adapter at the end to handle all the unhandled messages-->
    <routingPredicates>
      <routingPredicate isEnabled="true" messageType="IsoInternal" originLocalAddress="tcp://127.0.0.1:26301" destinationAddress="tcp://127.0.0.1:26102" includeDiagnostics="false"/>
      <routingPredicate isEnabled="true" messageType="IsoInternal" originLocalAddress="tcp://127.0.0.1:26302" destinationAddress="sql://AndigonisIsoInternalQueue" includeDiagnostics="false"/>
      <routingPredicate isEnabled="true" messageType="Iso8583" originLocalAddress="tcp://127.0.0.1:26301" destinationAddress="tcp://127.0.0.1:26101" includeDiagnostics="false"/>
      <routingPredicate isEnabled="true" messageType="Iso8583" originLocalAddress="tcp://127.0.0.1:26302" destinationAddress="tcp://127.0.0.1:26101" includeDiagnostics="false"/>
      <routingPredicate isEnabled="true" messageType="Operation" originLocalAddress="tcp://127.0.0.1:26301" destinationAddress="tcp://127.0.0.1:26103" includeDiagnostics="true"/>
      <routingPredicate isEnabled="true" messageType="Operation" originLocalAddress="sql://OperationQueue" destinationAddress="tcp://127.0.0.1:26103" includeDiagnostics="true"/>
      <routingPredicate isEnabled="true" messageType="Operation" destinationAddress="mem://diagnosticAndErrorHandler" includeDiagnostics="true"/>
      <routingPredicate isEnabled="true" messageType="IsoInternal" destinationAddress="mem://diagnosticAndErrorHandler" includeDiagnostics="true"/>
      <routingPredicate isEnabled="true" messageType="Iso8583" destinationAddress="mem://diagnosticAndErrorHandler" includeDiagnostics="true"/>
    </routingPredicates>
  </serverConfiguration>

  <connectionStrings>

    <add name="OperationCommunicationServerConnection" connectionString="Data Source=.;Initial Catalog=OperationServerQueues;Integrated Security=True"/>
    <add name="LoggingConnection" connectionString="Data Source=.;Initial Catalog=OperationServerQueues;Integrated Security=True"/>
    <add name="SmsLiveFeedConnection" connectionString="Data Source=.;Initial Catalog=HsbcServer;Integrated Security=True"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
