<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICoralLoyalty" />
                <binding name="BasicHttpBinding_ICoralLoyalty1" />
                <binding name="CoralParallelRun1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.28.86.26/CoralLoyalty/service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICoralLoyalty"
                contract="AntigonisServices.ICoralLoyalty" name="BasicHttpBinding_ICoralLoyalty" />
            <endpoint address="http://10.28.86.26/CoralLoyalty/service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICoralLoyalty1"
                contract="PluralServices.ICoralLoyalty" name="BasicHttpBinding_ICoralLoyalty1" />
            <endpoint address="http://10.60.4.106:8080/axis2/services/CoralParallelRun/"
                binding="basicHttpBinding" bindingConfiguration="CoralParallelRun1"
                contract="WolfServices.CoralParallelPortType" name="CoralParallelRun1" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
