<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IThreePleLayerSecurityServer" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ThreePleLayerSecurityWcfServer" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IThreePleLayerSecurityServer" contract="RouterService.IThreePleLayerSecurityServer"
                name="WSHttpBinding_IThreePleLayerSecurityServer">
                <identity>
                    <userPrincipalName value="devuser@domain" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>