<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IHsm" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/HsmWcfServer" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IHsm" contract="HsmServiceReference.IHsm"
                name="WSHttpBinding_IHsm">
                <identity>
                    <userPrincipalName value="devuser@domain" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>